.setting-widget-drawer {
  .form-input {
    & > div {
      min-width: 100%;
    }

    &.select {
      & > div {
        min-width: 100px;

        svg {
          display: none;
        }
      }
    }
  }
}
